@import "tailwindcss";

:root {
  --background: #070b16;
  --foreground: #f1f5f9;
}

body {
  background-color: var(--background);
  color: var(--foreground);
  overflow-x: hidden;
  min-height: 100vh;
}
